<div class="card mb-4 box-shadow">
    <img class="card-img-top pt-1" src="assets/images/wrist-watch.jpg" alt="Card image cap">
    <div class="card-body pt-1">
        <p class="text-center font-weight-bold text-primary mb-0">{{ 15500 | currency:'NGN' }}</p>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary text-white">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
            </div>
        </div>
    </div>
</div>