/* You can add global styles to this file, and also import other style files */

body {
    font-size: 14px;
    padding-top: 6rem;
}

.btn, .form-control, .card, .list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}